[program:{{ item.name }}]

; The name of the process
process_name=%(program_name)s_%(process_num)02d

; The command to keep in execution
command={{ item.command }}

; If true, this program will start automatically when supervisord is started.
autostart={{ item.autostart | default("true") }}

; Specifies if supervisord should automatically restart a process if it exits when it is in the RUNNING state. May be one of false, unexpected, or true. 
; If false, the process will not be autorestarted. 
; If unexpected, the process will be restarted when the program exits with an exit code that is not one of the exit codes associated with this process’ configuration (see exitcodes). 
; If true, the process will be unconditionally restarted when it exits, without regard to its exit code. 
autorestart={{ item.autorestart | default("true") }}

; The list of “expected” exit codes for this program used with autorestart. 
; If the autorestart parameter is set to unexpected, and the process exits in any other way than as a result of a supervisor stop request, supervisord will restart 
; the process if it exits with an exit code that is not defined in this list.
exitcodes={{ item.exitcodes | default("0") }}

; If true, cause the process’ stderr output to be sent back to supervisord on its stdout file descriptor 
redirect_stderr={{ item.redirect_stderr | default("true") }}

; Put process stderr output in this file unless redirect_stderr is true.
stderr_logfile={{ item.error_log }}

; Put process stdout output in this file (and if redirect_stderr is true, also place stderr output in this file)
stdout_logfile={{ item.out_log }}

; Instruct supervisord to switch users to this UNIX user account before doing any meaningful processing. 
user={{ item.user }}

; Supervisor will start as many instances of this program as named by numprocs. 
numprocs={{ item.numprocs | default(ansible_processor_count) }}


; The total number of seconds which the program needs to stay running after a startup to consider the start successful (moving the process from the STARTING state to the RUNNING state). 
; Set to 0 to indicate that the program needn’t stay running for any particular amount of time.
startsecs={{ item.startsecs | default("0") }}
