; supervisor config file

[unix_http_server]
file={{ supervisor_socket }}               ; (the path to the socket file)
chmod={{ supervisor_socket_perm }}         ; socket file mode (default 0700)

[supervisord]
logfile={{ supervisor_log_file }}   ; (main log file;default $CWD/supervisord.log)
pidfile={{ supervisor_pid_file }}   ; (supervisord pidfile;default supervisord.pid)
childlogdir={{ supervisor_child_log_dir }}  ; ('AUTO' child log dir, default $TEMP)
logfile_maxbytes={{ supervisor_max_log_file }}
logfile_backups={{ supervisor_log_backup }}

; the below section must remain in the config file for RPC
; (supervisorctl/web interface) to work, additional interfaces may be
; added by defining them in separate rpcinterface: sections
[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl={{ supervisor_serverurl }} ; use a unix:// URL  for a unix socket

; The [include] section can just contain the "files" setting.  This
; setting can list multiple files (separated by whitespace or
; newlines).  It can also contain wildcards.  The filenames are
; interpreted as relative to this file.  Included files *cannot*
; include files themselves.


{% if supervisor_notify_fatal_command is defined %}
[eventlistener:notify_fatal]
command={{ supervisor_notify_fatal_command }}
events=PROCESS_STATE_FATAL,PROCESS_STATE_UNKNOWN
buffer_size=20
{% endif %}

[include]
files = /etc/supervisor/conf.d/*.conf

